@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /*--background: #0a0a0a;*/
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.secondary-button{
    color: #364072;
}

@keyframes typewriter {
  from {width: 0;}
  to {width: 100%;}
}

@keyframes blink {
  50% {border-color: transparent;}
}

.typewriter {
  overflow: hidden;
  border-right: 2px solid white;
  white-space: nowrap;
  animation: typewriter 4s steps(40,end), blink 0.75s step-end infinite;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 60px;
}

.tag-list {
  width: auto;
  font-family: sans-serif;
  position: relative;
  padding: 0.9rem;
  overflow: hidden;
}

.inner {
  width: fit-content;
  display: flex;
  gap: 1rem;
  animation: loop 10s linear infinite;
}

.tag {
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  color: #ffffff;
  font-size: 0.9rem;
  background-color: #252525;
  padding: 0.3rem 1rem;
  border-radius: 0.6rem;
  box-shadow: 
    0 0.1rem 0.2rem #00000033,
    0 0.1rem 0.5rem #0000004d;
}

.tag span {
  font-size: 1.2rem;
  color: #64748b;
}

.fade {
  position: absolute;
  background: 
    linear-gradient(90deg,
    #1e293b,
    transparent 30%,
    transparent 70%,
    #1e293b);
  pointer-events: none;
}

/**@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}*/
